.chart_container_text_body {
  padding: 1rem 0 0 1.5rem;
}

.chart_user_avatar {
  width: 5rem !important;
  height: 5rem !important;
  background-color: var(--primary-light) !important;
}

.chart_user_emoji {
  color: var(--primary);
  font-size: 3rem !important;
}

.chart_user_head {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--dark-1);
}

.chart_user_text {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark-1);
}

.chart_container_graph_body {
  height: 100px;
  min-height: 100px;
}
