.main_layout_wrp {
  padding: 2rem 3rem 0rem 29rem;
  width: 100%;
  transition: all 0.4s;
  margin-bottom: 2rem;
}

/*Row 1 styling*/

.main_layout_row_one {
  display: flex;
  flex-wrap: wrap;
}

/*Banner 1*/

.row_one_banner {
  position: relative;
  flex: 0 0 50%;
  padding: 0rem;
  height: 24.1rem;
  color: rgb(255, 255, 255);
  padding-right: 1rem;
}

/* .banner_body {
  width: 100%;
  height: 100%;
  background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, 0.7));
  border-radius: 0.428rem;
  box-shadow: 0 0.1rem 0.4rem 0 rgba(85, 85, 85, 0.2),
    0 0.2rem 1rem 0 rgba(85, 85, 85, 0.19);
  padding: 0;
} */

.banner_body_text {
  margin-top: 2rem;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.banner_body_text h2 {
  font-size: 3rem;
}

.banner_body_text p {
  font-size: 1.5rem;
}

.banner_one_image_one {
  width: 200px;
  top: 0;
  float: left;
}

.banner_one_award {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner_one_avatar {
  background-color: #7367f0 !important;
  width: 7rem !important;
  height: 7rem !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.banner_one_emoji {
  font-size: 3.5rem !important;
}

.banner_one_image_two {
  width: 175px;
  float: right;
}

.row_one_graph_one {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 1rem;
}

.row_one_graph_two {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 0rem 0 1rem;
}

@media only screen and (max-width: 1200px) {
  .main_layout_wrp {
    padding: 2rem 3rem;
  }
  .row_one_banner {
    flex: 0 0 100%;
    margin-bottom: 2rem;
    padding: 0;
  }
  .row_one_graph_one {
    flex: 0 0 50%;
    height: 24.1rem;
    max-width: 50%;
    padding: 0 1rem 0 0;
  }
  .row_one_graph_two {
    flex: 0 0 50%;
    height: 24.1rem;
    max-width: 50%;
    padding: 0 0 0 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .main_layout_wrp {
    padding: 1.2rem 1.8rem;
  }
  .row_one_graph_one {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }
  .row_one_graph_two {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 2rem 0 0 0;
  }
}
