.main_layout_wrp {
  margin: 20px 30px 0px 290px;
  width: 100%;
  transition: all 0.4s;
}

.card_wrp {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(265px, 1fr)
  ); /* Where the magic happens */
  grid-gap: 30px;
  margin-bottom: 30px;
}

.first_card {
  padding: 0rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  background-color: #7f74f0;
  height: 241px;
  position: relative;
  text-align: center;
  color: #ffff;
}

.second_card {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(135px, 1fr)
  ); /* Where the magic happens */
  grid-gap: 30px;
}

.card_wrp2 {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(265px, 1fr)
  ); /* Where the magic happens */
  grid-gap: 30px;
  margin-bottom: 30px;
}

.first_card2 {
  display: flex;
  align-items: center;
}

.first_card_banner_img {
  position: relative;
}

.first_card_award {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_wrp2_containers {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .main_layout_wrp {
    margin: 20px 30px 0px 30px;
    width: 100%;
  }
}
