.main_layout_wrp {
  padding: 2rem 3rem 0rem 29rem;
  width: 100%;
  transition: all 0.4s;
  margin-bottom: 2rem;
}

.banner_body_text {
  margin-top: 2rem;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.banner_body_text h2 {
  font-size: 3rem;
}

.banner_body_text p {
  font-size: 1.5rem;
}

.banner_one_image_one {
  width: 20rem;
  top: 0;
  float: left;
}

.banner_one_award {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner_one_avatar {
  background-color: #7367f0 !important;
  width: 7rem !important;
  height: 7rem !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.banner_one_emoji {
  font-size: 3.5rem !important;
}

.banner_one_image_two {
  width: 17.5rem;
  float: right;
}

.row_one_graph_one {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 1rem;
}

.row_one_graph_two {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 0 0 1rem;
}

.bargraph_chart_container {
  height: 21rem;
}

.bargraph_container_text h2 {
  color: var(--dark-0);
  font-size: 2.5rem;
}

.bargraph_container_text p {
  color: var(--dark-0);
  font-size: 1.5rem;
}

.bargraph_container_text h5 {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  color: var(--dark-0);
}

.bargraph_container_text h5 .secondary_part {
  font-size: 2.2rem;
  color: rgb(42, 185, 61);
}

.progress_row {
  display: flex;
}

.doughnut_chart {
  height: 20rem;
}

.progress_heading {
  font-size: 1.3rem;
}

.tracket_data_tbl {
  padding-top: 3.8rem;
  display: flex;
  justify-content: space-between;
}

.row_three_container_one {
  flex: 0 0 33.3%;
}

.row_three_container_two {
  flex: 0 0 33.3%;
}

.row_three_container_three {
  flex: 0 0 33.3%;
}

@media only screen and (max-width: 1200px) {
  .main_layout_wrp {
    padding: 2rem 3rem;
  }

  .row_one_graph_one {
    flex: 0 0 50%;
    height: 24.1rem;
    max-width: 50%;
    padding: 0 1rem 0 0;
  }
  .row_one_graph_two {
    flex: 0 0 50%;
    height: 24.1rem;
    max-width: 50%;
    padding: 0 0 0 1rem;
  }

  .row_three_container_one {
    flex: 0 0 100%;
    padding: 0 !important;
  }
  .row_three_container_two {
    flex: 0 0 100%;
    padding: 2rem 0 0 0 !important;
  }
  .row_three_container_three {
    flex: 0 0 100%;
    padding: 2rem 0 0 0 !important;
  }
}

@media only screen and (max-width: 576px) {
  .main_layout_wrp {
    padding: 1.2rem 1.8rem;
  }

  .row_one_graph_one {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
  .row_one_graph_two {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 2rem 0 0 0;
    margin-bottom: 2rem;
  }

  .doughnut_chart {
    width: 100%;
    height: 23rem;
  }
}
