.sdbr_wrp {
  display: flex;
  flex-direction: column;
  width: 26rem;
  height: 100vh;
  background-color: #ffff;
  overflow-y: scroll; /* Add the ability to scroll */
  max-width: 26rem;
  position: fixed;
  scrollbar-width: none; /* Firefox 64 */
}

.sdbr_wrp::-webkit-scrollbar {
  display: none;
}

.sdbr_icn {
  padding: 1.2rem 2rem;
  display: flex;
  align-items: center;
}

.sdbr_icn img {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.4rem;
}

.sdbr_icn span {
  font-size: 2.45rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: var(--primary);
}

.nav_menu {
  padding: 0 2.4rem;
}

.nav_menu_itm {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 1.4rem 0px;
}

.nav_menu_itm span {
  margin-left: 1rem;
  color: #565360;
  font-size: 1.6rem;
}

.nav_header {
  margin-top: 2rem;
  margin-left: 0.4rem;
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 700;
  color: #565360;
}

@media only screen and (max-width: 1200px) {
  .sdbr_wrp {
    display: none;
  }
}
