@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --primary: #7367f0;
  --secondary: #ff9f43;
  --secondary-light: #ff9e4365;
  --primary-light: #7267f050;
  --white: #ffffff;
  --nav_head: #565360;
  --dark-0: rgba(0, 0, 0, 0.835);
  --dark-1: rgba(0, 0, 0, 0.685);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px*/
}
@media only screen and (max-width: 576px) {
  html {
    font-size: 50.5%; /*1rem = 10px*/
  }
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f3f3f3;
  font-weight: 400;
  line-height: 1.6;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.App {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.divider {
  width: 100% !important;
  height: 0.15rem;
  margin: 1rem 0;
  background-color: rgb(226, 226, 226);
}
